# aks/terraform.tfvars
*.tfvars

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*yes

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most